@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datetime-picker__wrapper {
    border: none;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

/* Start Landing Page */

.landing-page {
    position: relative;
    height: 92vh;
    background-image: url("../public/banner-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-page .info {
    width: 55%;
    float: left;
    margin-top: 100px;
}

.landing-page .info h1 {
    font-size: 50px;
    font-weight: 900;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #1A252F;
}

.landing-page .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 25px;
    color: #1A252F;
}

.landing-page .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #1A252F;
}

.landing-page .info button:hover {
    cursor: pointer;
    color: #FFF;
    background-color: #2d4150;
}

.clearfix {
    clear: both;
}

/* End Landing Page */