@using System.Reflection

<div class="welcome-page back">
    <h1>
        <img src="~/logo-01.png" width="30" class="logo">
        Welcome to Exam Management System
        <small class="text-muted">(version 1.0)</small>
    </h1>
</div>
